<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <title>Contato</title>
</head>

<body>
    <div class="container">
        <ul class="nav nav-pills">
            <li>
                <a href="/">Home</a></li>
            <li>
                <a href="/contato">Contato</a>
            </li>
            <li>
                <a href="/sobre">Sobre</a>
            </li>
        </ul>
        <hr>
        <form action="/contato" method="POST">
            <input type="text" name="nome" placeholder="Nome">
            <br>
            <input type="text" name="email" placeholder="E-mail">
            <br>

            <input type="submit" value="Enviar" class="btn btn-success">
        </form>
    </div>
</body>

</html>