html
head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
body
    div.container
        h1 Nome da nossa 
            span Empresa
        
        ul
            li
                a(href='/') Home
            li
                a(href='/sobre') Sobre
            li
                a(href='/contato') Contato
            li
                a(href='/cadastrar') Cadastrar

        block content